{% extends 'base.html' %}

{% block title %}
ThreadApp: Home
{% endblock %}

{% block content %}
<!-- Overall Container -->
<div class='container'>
    <br>
    <!-- Collections -->
    <div class='container'>
        <div class='row'>
            <h3 class='display-6'>My Collections</h3>
            <br>
        </div>

        <button type='button' id='add-collection' class='btn btn-outline-dark'>Add Collection</button>

        {% for collection in collections %}
            <div class='row'>
                    <!-- what if this worked where you see like the first 5 colors then hit an arrow to show the rest-->
                    <div class='col-3'><strong><a class='text-dark' href='{{collection.get_absolute_url}}'>{{collection.name}}:</a></strong></div>
                    <div class='col-3'>
                        {% for thread in collection.threads.all %}
                            {{thread.brand}} #{{thread.id_number}}, {{thread.color_name}}
                            <br>
                        {% endfor %}
                    </div>
                    <div class='col-3'>{{collection.thread_count}} threads saved</div>
                    <div class='col-3'><button type='button' class='btn btn-outline-dark btn-sm'>Edit</button>
                            <button type='button' class='btn btn-outline-danger btn-sm'>Delete</button>
                    </div>
            </div>
            <hr>
        {% endfor %}    

    </div>

    <br>

    <!-- Thread List -->
    <div class='container'>
        <div class='row'>
            <h3 class='display-6'>My Threads</h3>
        </div>
        <button type='button' class='btn btn-outline-dark'>
            <a href='create_thread'>
                Add Thread
            </a>
        </button>
        <br>
        <div class='row'>
            <div class='col-12'>
                <table class='table'>
                    <tr>
                        <th>Brand</th>
                        <th>Color Number</th>
                        <th>Color Name</th>
                        <th>Thread Type</th>
                        <th>Meters Owned</th>
                        <th></th>
                    </tr>

                    {% for thread in owned_threads %}
                        <tr>
                            <td>{{thread.owned_thread.brand}}</td>
                            <td>{{thread.owned_thread.id_number}}</td>
                            <td>{{thread.owned_thread.color_name}}</td>
                            <td>{{thread.owned_thread.style}}</td>
                            <td>{{thread.length_owned}}</td>
                            <td>
                                <button type='button' class='btn btn-outline-dark btn-sm'>Edit</button>
                                <button type='button' class='btn btn-outline-danger btn-sm'>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    <br>

</div>

{% endblock %}