{% extends 'base.html' %}

{% block title %}
ThreadApp: Home
{% endblock %}

{% block content %}
<!-- Overall Container -->
<div class='container'>
    <br>
    <div class='row'>
        <h3 class='display-6'>My Threads</h3>
    </div>
    <br>
    <div class='row'>
        <table class='table'>
            <tr>
                <th>Brand</th>
                <th>Color Number</th>
                <th>Color Name</th>
                <th>Thread Type</th>
                <th>Length Owned</th>
                <th></th>
            </tr>

            {% for thread in threads %}
                <tr>
                    <td>{{thread.brand}}</td>
                    <td>{{thread.id_number}}</td>
                    <td>{{thread.color_name}}</td>
                    <td>{{thread.style}}</td>
                    <td>{{thread.length_owned}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <br>

    <div class='row'>
        <h3 class='display-6'>My Collections</h3>
    </div>
    <br>
    <div class='row'>
        <ul class='list-group list-group-flush'>
        {% for collection in collections %}
            <li class='list-group-item d-flex justify-content-between align-items-center'>
                <strong>{{collection.name}}:</strong> 

                <span>
                    <!-- TODO list out all the threads separated by commas-->
                    {% for thread in collection_threads %}
                    {% endfor %}
                </span> 

                <span>{{collection.thread_count}} threads saved</span>
            </li>
        {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}