{% extends 'base.html' %}

{% block title %}
ThreadApp: Home
{% endblock %}

{% block content %}
<!-- Overall Container -->
<div class='container'>
    <br>
    <div class='row'>
        <h3 class='display-6'>My Threads</h3>
    </div>
    <br>
    <div class='row'>
        <table class='table'>
            <tr>
                <th>Brand</th>
                <th>Color Number</th>
                <th>Color Name</th>
                <th>Thread Type</th>
                <th>Meters Owned</th>
            </tr>

            {% for thread in owned_threads %}
                <tr>
                    <td>{{thread.owned_thread.brand}}</td>
                    <td>{{thread.owned_thread.id_number}}</td>
                    <td>{{thread.owned_thread.color_name}}</td>
                    <td>{{thread.owned_thread.style}}</td>
                    <td>{{thread.length_owned}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <br>

    <div class='row'>
        <h3 class='display-6'>My Collections</h3>
    </div>
    <br>
    <div class='row'>
       
        <table class='table'>

            {% for collection in collections %}
            <!-- what if this worked where you see like the first 5 colors then hit an arrow to show the rest-->
            <tr>
                <td><strong><a class='text-dark' href='{{collection.get_absolute_url}}'>{{collection.name}}:</a></strong></td>
                <td>
                    {% for thread in collection.threads.all %}
                        {{thread.brand}} #{{thread.id_number}}, {{thread.color_name}}
                        <br>
                    {% endfor %}
                </td> 

                <td>{{collection.thread_count}} threads saved</td>
            </tr>
        {% endfor %}

        </table>

    </div>

</div>

{% endblock %}